.wrap{
    display: flex;
    width: 1040px;
    margin: 0 auto;
    background: black;
    flex-flow: wrap;
    color: white;

}
.album{
    border: 1px solid white;
    margin: 5px;
}
.imgs{
    width: 200px;
    height: 200px;
}